* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #111111;
	color: #fff;
}

h1 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 3rem;
}

button {
	margin-top: 50px;
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	background-color: red;
	color: white;
}

button:hover {
	cursor: pointer;
}
