@font-face {
	font-family: newDisplay;
	src: url(./HelveticaNowDisplay-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: newDisplay;
}

html,
body {
	height: 100%;
	width: 100%;
}

#main {
	width: 100%;
	height: 100%;
	color: #000;
}

#nav {
	padding: 10px 30px;
}

#nav a {
	color: #000;
	font-size: 25px;
	text-decoration: none;
	margin-right: 30px;
}

#main > h1 {
	font-size: 300px;
	padding-left: 70px;
	font-weight: 400;
}

#btmleft {
	position: absolute;
	bottom: 10%;
	left: 5%;
	width: 300px;
}

#btmleft h3 {
	font-size: 30px;
}

#btmleft p {
	font-size: 18px;
	margin-top: 5px;
}

#btmleft h4 {
	margin-top: 50px;
	font-size: 30px;
}

#bottombar {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 70px;
}

#bottombar a {
	color: #000;
	text-decoration: none;
	font-size: 32px;
}

#main > img {
	position: absolute;
}

#first {
	height: 350px;
	top: 40%;
	left: 50%;
}

#second {
	height: 300px;
	top: 55%;
	left: 63%;
}

#third {
	height: 400px;
	top: 35%;
	left: 75%;
}
