* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, green, aqua);
}

#main {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	#box {
		width: 30rem;
		height: 30rem;
		background-color: antiquewhite;
		border-radius: 10px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		padding: 1.2rem;

		h1 {
			font-size: 2rem;
			margin-top: -100px;
		}

		.counter {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: -100px;
			h3 {
				font-size: 5rem;
				text-align: center;
			}

			#buttons {
				display: flex;
				gap: 20px;
				margin-top: 50px;
				.button {
					width: 8rem;
					height: 3rem;
					font-size: 1.5rem;
					text-align: center;
					background-color: palevioletred;
					color: #111;
					border: none;
					border-radius: 5px;
				}
				.button:hover {
					cursor: pointer;
				}
			}
		}
	}
}
