* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background-image: url(https://i.pinimg.com/1200x/c4/4d/b7/c44db751dda9877e2ca7a7d72c292a04.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1 {
	margin-top: 100px;
	font-size: 5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
	margin-top: 30px;
	border: none;
	border-radius: 10px;
	padding: 20px;
	color: #000;
	background-color: orange;
}

button:hover {
	cursor: pointer;
}
