* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;

	background-color: #f0f0f0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
	width: 350px;
	height: 450px;
	background-color: #fff;
	border-radius: 2rem;
	position: relative;
	margin: 30px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 2rem 2rem;
}

.logo > img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	padding: 0.3rem;
	border: 1px solid #f0f0f0;
	background-color: #f2f2f2;
}

.save-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.8rem;
	font-weight: 400;
	border: none;
	background-color: #f2f2f2;
	padding: 0.5rem 0.7rem;
	border-radius: 0.5rem;
	position: absolute;
	top: 30px;
	right: 30px;
}

.save-button:hover {
	cursor: pointer;
}

.save-button:active {
	scale: 0.95;
}

.save-icon {
	width: 1.2rem;
}

.content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: 2rem;
}

.company-name {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
}

.c-name {
	font-size: 1.3rem;
	font-weight: 800;
}

.post-time {
	font-size: 0.7rem;
	color: gray;
	font-weight: 400;
}

.role {
	margin-top: 0.5rem;
}

.role-name {
	font-size: 1.6rem;
}

.tags {
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.tags > p {
	padding: 8px 20px;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	color: black;
	font-weight: 500;
}

hr {
	margin-top: 70px;
	margin-left: 32px;
	width: 80%;
	border: 1px solid #f0f0f0;
}

.action {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}
.salary {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.amount {
	font-size: 22px;
	font-weight: 600;
}
.location {
	font-size: 13px;
	color: gray;
	margin-top: 5px;
}

.apply-button {
	border: none;
	background-color: black;
	color: white;
	padding: 12px 20px;
	border-radius: 10px;
	font-size: 13px;
}

.apply-button:hover {
	cursor: pointer;
}

.apply-button:active {
	scale: 0.95;
}
