* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

main {
	width: 100%;
	background: linear-gradient(
		to right bottom,
		rgb(26, 26, 26),
		rgb(30, 30, 30),
		black
	);
	padding: 20px;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
	height: 100%;
	width: 400px;
	background-color: black;
	border-radius: 10px;
	margin: auto;
}

.allReels {
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

.allReels::-webkit-scrollbar {
	display: none;
}

.reel {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: lightseagreen;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 20px;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.reel > video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.reel > .bottom {
	padding: 30px 20px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.844));
	width: 100%;
	position: absolute;
	bottom: 0;
}

.bottom > .user {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.bottom > .user > img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	object-fit: cover;
}

.bottom > .user > h4 {
	font-size: 15px;
	font-weight: 500;
}

.bottom > .user > button {
	background-color: transparent;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;
	border: 1px solid white;
	color: white;
}

.bottom > .user > button:hover {
	cursor: pointer;
}

.bottom > h3 {
	font-weight: 500;
	font-size: 20px;
}

.right {
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	text-align: center;
	width: 40px;
	position: absolute;
	right: 0;
	bottom: 12%;
}

.right h4 {
	cursor: pointer;
}

.right i {
	font-size: 25px;
	font-weight: 500;
}

.right h6 {
	font-size: 15px;
	font-weight: 500;
}

.right > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50px;
	cursor: pointer;
}

.love {
	color: red;
}

.right > div h4 {
	pointer-events: none;
}

.right > div h6 {
	pointer-events: none;
}

.mute {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	color: #fff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.mute i {
	font-size: 20px;
	pointer-events: none;
}

.mute:active {
	scale: 0.95;
}
