* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

:root {
	--x: 400px;
	--y: 400px;
}

body {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	height: 100%;
	width: 100%;
	background: radial-gradient(
		200px at var(--x) var(--y),
		rgba(255, 255, 255, 0),
		black
	);
	position: absolute;
}

p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 3rem;
	color: rgb(0, 206, 0);
}
